*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 2px solid rgb(246, 234, 234);
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px 50px;
    text-align: center;
}
.add-item{
    height: 5rem;
    
}
 input{
    font-size: 18px;
    padding: 8px 16px;
    margin-right: 10px;
}
 button{
    font-size: 18px;
    padding: 8px 16px;
}
h3{
    font-size: 20px;
    font-weight: 800;
    padding-bottom: 10px;
}

.todo-lists{
    background-color: rgb(247, 240, 240);
    padding: 20px;
    
}
.todo-lists ul li{
    list-style: none;
    font-size: 18px;
    text-align: left;    
}

li{
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
}
